@font-face {
  font-family: "Docker1";
  src: url("../fonts/Docker1.ttf");
}
@font-face {
  font-family: "Docker2";
  src: url("../fonts/Docker2.ttf");
}
@font-face {
  font-family: "Docker3";
  src: url("../fonts/Docker3.ttf");
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

/* Container
=====================*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header
=====================*/

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100px;

}
.header__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid yellow;
  padding: 35px 0;
  align-items: center;
}

/* Nav
=====================*/
.header__logo a,
.nav {
  display: flex;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__logo a,
.nav__link {
  margin-left: 50px;
  color: yellow;
  text-decoration: none;
  opacity: .8;
  transition: opacity .1s linear;
  font-family: Docker1;
}

.header__logo a,
.nav__link:hover {

  opacity: 1;
}

.nav__link:first-child {
  margin-left: 0px;
}

/* Intro
=====================*/

@media screen and (max-width: 800px) {

 .intro {
  height: 500px;
 }

}

@media screen and (min-width: 801px) {
 .intro {
  height: 200px;
 }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 130px;
  background-color: brown;
}

.intro__inner {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
}

.intro__title {
  margin: 0;
  line-height: 1.8;
  font-family: Docker2, 'Open Sans',sans-serif;
  font-size: 20px;
  color: yellow;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.intro_menu {
  font-family: Docker1, 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.menu__link {
  margin-left: 20px;
  font-size: 16px;
  color: yellow;
  text-decoration: none;
  opacity: .8;
  transition: opacity .1s linear;
}

/* features
=====================*/

.features {
  display: flex;
  margin: 100px 0;
  flex-wrap: wrap;
}

.features__item {
  text-align: center;
  padding: 0 20px;
  width: 33.33333%;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 20px;
}

.features__title {
  margin-bottom: 15px;
  font-size: 14px;
  color:#2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}



/* Team
=====================*/

.team {
  margin: 0;
  background-color: #e9e9e9;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding: 80px 0;
}

.team__item {
  width: 25%;
}

.team__photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team__name {
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 8px;
  font-family: Docker3;
}

.team__prof {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}




/* Reviews
=====================*/
.reviews {
  background-color: brown;
  overflow: hidden;
  margin-bottom:120px;
}

.review__img {
  position: absolute;
  top:50%;
  right:0;
  z-index: 1;

  transform: translateY(-50%);
}

.reviews__inner {
  display: flex;
  flex-wrap: wrap;


}

.reviews__photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text {
  margin-bottom: 25px;
  font-family: 'Cardo',sans-serif;
  font-style:italic ;
  font-size: 25px;
  line-height:1.2;
  color: #fff;
}

.reviews__author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* Form:
=====================*/

.form {
  width: 450px;
  height: 500px;
  background-color: brown;
  text-align: center;
  margin: 50px auto 0 auto;
  margin-bottom:90px;
  font-family: 'Raleway';
  color: white;
}

.form p {
  margin-top: 20px;
}

.form a {
  color: white;
}

.form img {
  width: 120px;
  height: 120px;
  margin: -60px 0 30px 0;
}

input[type = "text"], input[type = "password"] {
  width: 300px;
  height: 50px;
  font-size: 18px;
  margin-bottom:25px;
  border-radius: 4px;
  padding-left: 10px;
}

.submit {
  padding: 13px 30px;
  margin: 5px 0 20px 0;
  font-size: 15px;
  color: #fff;
  background-color:red;
  border: none;
  border-bottom: 4px solid #fff;
  cursor: pointer;
  font-family: Docker2;
}

.submit:hover {
  transition: all 0.5s;
  background: #fff;
  color: #2c536c;

}

/* Footer:
=====================*/

.footer {
  padding: 15px 0;
  background-color: brown;
  text-align: center;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  opacity: .8;
  color: yellow;
}

.footer p a {
  text-decoration: none;
  opacity: inherit;
  color: inherit;
}
