{% extends "index.html" %}
{% block title %}Коммунизм{% endblock %}
{% block site_intro %}
<div class="container">
    <div class="intro__inner">
        <h1 class="intro__title">
            от каждого по способностям, каждому по потребностям
        </h1>
        <h3 class="intro_menu">
          <a class="menu__link" href="#plus">Плюсы и минусы</a>
          <a class="menu__link" href="#people">Люди</a>
        </h3>
    </div>
</div>
{% endblock %}

{% block main %}

<!--Features-->
<div class="container" id = "plus">
    <div class="features">
      {% for result in res_features %}
      <div class="features__item">
          {% if result[0]==1 %}
            <img class="features__icon" src="img/features/good.png" alt="">
          {% else %}
            <img class="features__icon" src="img/features/bad.png" alt="">
          {% endif %}
          <h4 class="features__title">{{ result[1] }}</h4>
          <div class="features__text">{{ result[2] }}</div>
      </div>
      {% endfor %}
    </div> <!--Features-->
</div>


<!--Team-->
<div class="team" id="people">
    <div class="container">
        <div class="team__inner">
          {% for result in res_team %}
          <div class="team__item">
              <img class="team__photo" src={{ result[0] }}>
              <div class="team__name">{{ result[1] }}</div>
              <div class="team__prof">{{ result[2] }}</div>
              <div class="team__text">
                  <p>
                      {{ result[3] }}
                  </p>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
