{% extends "index.html" %}
{% block title %}Мнения экспертов{% endblock %}
{% block site_intro %}
<div class="container">
    <div class="intro__inner">
        <h1 class="intro__title">
            Отзывы экспертов
        </h1>
    </div>
</div>
{% endblock %}

{% block nav__link %}
<a class="nav__link" href="index.php">На главную</a>
{% endblock %}


{% block main %}
        <!--Comment-->
        <div class="reviews" id="review">
            <div class="container">
                <div class="reviews__inner">
                  {% for result in res_reviews %}
                  <div class="reviews__photo">
                      <img class="review__img" src={{ result[0] }}>
                  </div>
                  <div class="reviews__content">
                      <div class="reviews__text">{{ result[1] }}</div>
                      <div class="reviews__author">{{ result[2] }}</div>
                  </div>
                  {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
