{% extends "index.html" %}
{% block title %}Коммунизм{% endblock %}
{% block site_intro %}
<div class="container">
    <div class="intro__inner">
        <h1 class="intro__title">
            от каждого по способностям, каждому по потребностям
        </h1>
        <h3 class="intro_menu">
          <a class="menu__link" href="#plus">Плюсы и минусы</a>
          <a class="menu__link" href="#people">Люди</a>
        </h3>
    </div>
</div>
{% endblock %}

{% block main %}

<!--Features-->
<div class="container" id = "plus">
    <div class="features">
        <div class="features__item">
            <img class="features__icon" src="img/features/good.png" alt="">
            <h4 class="features__title">Уверенность в завтрашнем дне</h4>
            <div class="features__text">Общественная собственность на средства производства гарантирует исключение большого влияния отдельных личностей на какие-либо производственные секторы, а значит, гарантирует стабильность страны и спокойствие общества</div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features/good.png" alt="">
            <h4 class="features__title">Плановая экономика</h4>
            <div class="features__text">К услугам общества такие преимущества плановой экономики, как рациональное использование ресурсов в условиях ограниченности, отсутствие кризисов перепроизводства, характерных для рыночного хозяйства и многое другое</div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features/good.png" alt="">
            <h4 class="features__title">Равенство людей</h4>
            <div class="features__text">Общество распределяет ресурсы каждому человеку, чтобы тот жил в достатке, исключая тем самым сверхбогатый и нищенствующий классы людей</div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features/bad.png" alt="">
            <h4 class="features__title">Утопичность</h4>
            <div class="features__text">Коммунизм утопичен, поэтому его построение вызывает огромные трудности</div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features/bad.png" alt="">
            <h4 class="features__title">"А как на Западе живут!.."</h4>
            <div class="features__text">Фигурирование в информационном поле в основном обеспеченных классов людей вкупе с доступностью этого поля широким массам может создать неправильное впечатление, что в капиталистических странах всё население живёт так, как это показывается</div>
        </div>
        <div class="features__item">
            <img class="features__icon" src="img/features/bad.png" alt="">
            <h4 class="features__title">Дефицит</h4>
            <div class="features__text">Неумелые попытки равного распределения ресурсов между людьми государством может привести к серьёзным дефицитам</div>
        </div>
    </div> <!--Features-->
</div><!--Container-->


<!--Team-->
<div class="team" id="people">
    <div class="container">
        <div class="team__inner">

            <div class="team__item">
                <img class="team__photo" src="img/team/first.jpg">
                <div class="team__name">Хо Ши Мин</div>
                <div class="team__prof">Кимлиен, Вьетнам</div>
                <div class="team__text">
                    <p>
                        Вьетнамский революционер, государственный, политический, военный и
                        партийный деятель. Последователь марксизма-ленинизма, член Французской
                        коммунистической партии с 1920 года, видный деятель Коминтерна, основатель
                        Коммунистической партии Вьетнама (1930) и Коммунистической партии Индокитая (1930)
                    </p>
                </div>
            </div>

            <div class="team__item">
                <img class="team__photo" src="img/team/second.jpg">
                <div class="team__name">Владимир Ильич Ленин</div>
                <div class="team__prof">Ульяновск, Россия</div>
                <div class="team__text">
                    <p>
                        Марксист, публицист, основоположник марксизма-ленинизма, идеолог и создатель
                        Третьего (Коммунистического) интернационала, основатель Союза Советских
                        Социалистических Республик, первый председатель СНК СССР. Сфера
                        основных политико-публицистических работ — материалистическая философия,
                        теория марксизма, критика капитализма и империализма.

                    </p>
                </div>
            </div>

            <div class="team__item">
                <img class="team__photo" src="img/team/third.jpg">
                <div class="team__name">Эрнесто Че Гевара</div>
                <div class="team__prof">Росарио, Аргентина</div>
                <div class="team__text">
                    <p>
                        Латиноамериканский революционер, команданте Кубинской революции 1959 года и кубинский государственный деятель.
                        Кроме латиноамериканского континента, действовал также в Демократической Республике Конго и других странах мира
                        (данные до сих пор носят гриф секретности). Прозвище Че использовали соратники Эрнесто, подчеркивая его аргентинское пр.

                    </p>
                </div>
            </div>

            <div class="team__item">
                <img class="team__photo" src="img/team/fourth.jpg">
                <div class="team__name">Карл Маркс</div>
                <div class="team__prof">Трир, Королевство Пруссия</div>
                <div class="team__text">
                    <p>
                        немецкий философ, социолог, экономист, писатель, поэт, политический журналист,
                        лингвист, общественный деятель. Друг и единомышленник Фридриха Энгельса,
                        в соавторстве с которым написал «Манифест коммунистической партии» (1848 год).
                        Автор классического научного труда по политической экономии «Капитал. Критика политической экономии».

                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
